@charset 'UTF-8';




:root{
    --corfundo:#73412F;
    --corletra:#F2E0BD;
    --corfundobody:#FFEDC5;

}
body{
    background-color:var(--corfundobody);
    margin: 0px;
    padding: 0px;
}
header{
    background-color: var(--corfundo);
    margin: 2px;
    padding-top: 40px;
    border-radius: 10px;
    color: var(--corletra);
    text-align: center;
    padding-bottom: 25px;
}
header > h2{
    padding-bottom: 7px;
}
