@charset "UTF-08";

.quadrados{

    border: solid 4px black;
    border-radius: 12px;
    height: 250px;
    width: 250px;
    margin: 5px;
   
}
#div.q1{
    background-color: rgb(0, 0, 0);
    background-position: top right;
}